body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 228, 228);
}
.discut{
    width: 100%;
}
input{
    font-size: larger;
    width: 90%;
    height: 35px;
    border: none;
    background-color: rgba(28, 38, 68, 0.688);
}
button{
    position: absolute;
    bottom: -8
    4000px;
    height: fit-content;
    width: 10%;
    font-size: 30px;
    color: white;
    background-color: rgba(52, 50, 50, 0.769);
    border: none;
    background-color: rgb(124, 60, 4);
        color:  gold;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    font-size: 26px;
    box-shadow: 0 0 5px 5px;
}
    .question{
        position: absolute;
        right: 30px;
    }
    .app_function
    {
        display: none;

    }
    .discut{
        position: absolute;
        bottom: 0;
    }
    #reponse_2{
        display: block;
    }